.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
}
.addons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
